@font-face {
    font-family: pixel;
    src: url(police/VCR_OSD_MONO_1.001.ttf);
}

html {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-family: pixel;
    font-size: 32px;
}

.tableau {
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.score {
    display: flex;
    gap: 90px;
    justify-content: center;
}

.play {
    margin-top: 80px;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.play img {
    image-resolution: 40 X 40;

}

.credit {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
}