@font-face {
    font-family: VCR;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: VCR;
    font-size: 32px;
}

#joueurs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#score {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-bottom: 100px;
}

#accueil {
    width: 100%;
    height: auto;
    text-align: center;
}

#game {
    background-color: rgb(36, 35, 35);
    border: 1px solid white;
    aspect-ratio: 4 / 3;
    height: 600px;
    width: auto;
    position: relative;
    left: 600px;
}

#joueur {
    position: absolute;
    height: 30px;
    width: 60px;
    bottom: 10px;
    background-image: url(../sprites/player.png);
    background-size: contain;
}

#credit {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}