#game {
    background-color: rgb(58, 57, 57);
    border-bottom: 2px solid rgb(92, 245, 46);
    aspect-ratio: 4 / 3;
    height: 600px;
    width: auto;
    position: relative;
    left: 600px;
}

#joueur {
    position: absolute;
    height: 25px;
    width: 50px;
    bottom: 10px;
    background-image: url(../sprites/player.png);
    background-size: contain;
}
#enemies-container {
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 10px; /* Adjust as needed */
}

.enemy {
    position: relative;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-color: red; /* Adjust as needed */
}
